{% extends "base.html.twig" %}

{% block title %}Home page{% endblock %}

{% block body %}
    <h1>Top 3 visited links</h1>
    <table class="table">
        <tr>
            <td>link</td>
            <td>visit</td>
        </tr>
    </table>
{% endblock %}
